@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  background-color: #24282c;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 0.8em;
  margin: 0.2em;
}

.App {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  border-bottom: 1px solid black;
  padding: 0 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutDev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 1% 2%;
}

.headerToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.cardsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.9em;
}

@media screen and (max-width: 770px) {
  .header {
    flex-direction: column;
  }

  .aboutDev {
    width: 90%;
  }
}

/* POST DEPLOYEMENT MUI STYLES */

/* pagination item not selected */
.css-1b5ei7m {
  color: white;
  border: 1px solid white;
  background-color: #ffffff1a;
}

/* pagination item selected */
.css-1b5ei7m.Mui-selected {
  color: "#0080ff";
  border: "2px solid #0080ff";
  background-color: "rgb(25 118 210 / 31%)";
  font-weight: "bold";
}

/* toggle view button - selected */
.css-1cmnqml.Mui-selected {
  color: "#0080ff";
  background-color: "rgb(25 118 210 / 31%)";
  font-weight: "bold";
}

.css-1cmnqml {
  border: "1px solid white";
  color: "#FFFFFF";
  font-weight: "bold";
}